/paskaita3/nbproject/private/
/paskaita3/build/
/paskaita3/dist/
/namuDarbas2/nbproject/private/
/namuDarbas2/build/
/namuDarbas2/dist/
/paskaita4/nbproject/private/
/paskaita4/build/
/paskaita4/dist/
/paskaita4nd/nbproject/private/
/paskaita4nd/dist/
/paskaita4nd/build/
/paskaita5/nbproject/private/
/paskaita5/dist/
/paskaita5/build/